<h2>Active Polls</h2>
{{#each polls as |poll|}}
<h3><a href="/poll/{{poll.id}}">{{poll.title}}</a></h3>
<p>{{poll.description}}</p>
<p><b>Created by:</b> {{poll.user.dataValues.name}} on {{format_time poll.date_created}}</p>
<p><b>Expires:</b> {{format_time poll.expiration_date}}</p>
<hr>
{{/each}}