<div id="poll" data="{{poll.id}}">
  <h2>{{poll.title}}</h2>
  <p><b>Created by:</b> {{poll.user.name}} on {{format_time poll.date_created}}<br>
    <b>Expires:</b> <span id="expiration" data="{{poll.expiration_date}}">{{format_time poll.expiration_date}}</span></p>
  <h3>{{poll.description}}</h3>

  <div class="container">
    {{#each poll.options as |option|}}
      <div class="progress-box" id="{{option.id}}">
        <p>{{option.name}}</p>
        <div class="progress-bar">
          <span data="0%" class="percent-tag"></span>
        </div>
      </div>

    {{/each}}
  </div>

  <h3>Total Votes : <span id="totalVotes"></span></h3>
</div>

<script
  src="https://cdn.socket.io/4.7.4/socket.io.min.js"
  integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
  crossorigin="anonymous"
></script>
<script src="/js/scriptPolls.js"></script>